@media (max-width: 888px) {
    .status {
        margin-top: 8%;        
    }
}

@media (max-width: 750px) {
    .my-info {
        display: none;
    }

    .header nav {
        width: 100%;
        justify-content: space-around;
        margin: 0;
    }

    .status,
    .member {
        min-width: 90%;
        margin-left: 5%;
    }

    .member {
        margin-top: 10%;
    }

    .status {
        margin-top: 13%;
    }
}
