* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
.header {
    width: 100%;
    height: 8vh;
    background: #ffff;
    border-bottom: 1px solid rgb(231, 227, 227);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header nav {
    width: 70%;
    height: 100%;
    background: #ffff;
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    align-items: center;
}

nav input {
    height: 4vh;
    width: 24%;
    text-align: center;
    justify-content: center;
    border: 1px solid rgb(231, 227, 227);
    outline: none;
    border-radius: 2px;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
}

.fas,
.far {
    color: rgb(44, 43, 43);
    font-size: 20px;
}

.instagram-logo {
    height: 2rem;
}


/*body section start */
.body {
    width: 100%;
    height: 100vh;
    position: relative;
}

.status,
.members {
    width: 45%;
    margin-left: 15%;
    background: #ffff;
    display: flex;
    align-items: center;
    padding: 2px;        
    height: 100%;
    margin-top: 6%;
    border-radius: 2px;
    border: 1px solid rgb(221, 218, 218);
    overflow: hidden;
}

.members {
    height: 100vh;
    
}

.image {
    margin-left: 2%;
    text-align: center;
    cursor: pointer;
}

.image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ff416c;
    padding: 2px;
}

.member {
    width: 45%;
    margin-left: 15%;
    background: #ffff;
    height: 102vh;
    margin-top: 3%;
    border-radius: 2px;
    border: 1px solid rgb(221, 218, 218);
    
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(221, 218, 218);
    height: 60px;
    padding-top: 5px;
}

.profile img,
h6,
span {
    cursor: pointer;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0 !important;
}

.profile h6 {
    font-size: 13px;
    margin-left: 1px !important;
}

.profile span {
    margin-left: 70% !important;
    font-size: 30px !important;
    margin-bottom: 15px !important;
}

.photos img {
    width: 100%;
    height: 450px;
}

.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    padding-top: 5px;
}

.share i {
    font-size: 15px;
    padding: 10px;
    color: rgb(70, 67, 67);
}

.like {
    width: 70%;
    margin-left: 5%;
    margin-top: 5px;   
}

.like img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    border: 1px solid rgb(221, 218, 218);
    margin-right: 5px;
}

.member span {
    font-size: 10px;
    color: #777475;
}

.my-info {
    width: 23%;
    height: 80vh;
    position: fixed;
    z-index: 2;
    margin-left: 62%;
    margin-top: 0;
}

.right {
    display: flex;
    margin-top: 1%;
}

.info img {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid rgb(6, 29, 233);
    border-radius: 50%;
    float: left;
    cursor: pointer;
}

.name h4 {
    margin-top: 3%;
    color: #222121;
    cursor: pointer;
}

.name span {
    color: #3f3d3d;
    font-size: 10px;
}

.switch {
    margin: 5% 0px 0 25%;
    color: rgb(10, 177, 243);
}

.switch h4 {
    font-size: 12px;
    cursor: pointer;
}

.sugg {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.sugg h4 {
    font-weight: 600;
    color: #888586;
}

