:root{
    --primeira-cor: #04073b;
    --segunda-cor: #000;
    --terceira-cor: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
.header {
    width: 100%;
    height: 8vh;
    background: var(--primeira-cor);
    border-bottom: 2px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header nav {
    width: 70%;
    height: 100%;
    background: var(--primeira-cor);
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    align-items: center;
}

nav input {
    height: 4vh;
    width: 24%;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(236, 222, 222);
    outline: none;
    border-radius: 8px;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
}

.fas,
.far {
    color: var(--terceira-cor);
    font-size: 18px;
}

.instagram-logo {
    height: 3rem;
    width: 10rem;

}


/*body section start */
.body {
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--terceira-cor);
}

.status,
.members {
    width: 45%;
    margin-left: 15%;
    background: var(--terceira-cor);
    display: flex;
    align-items: center;
    padding: 2px;        
    height: 100%;
    margin-top: 6%;
    border-radius: 8px;
    border: 2px solid var(--primeira-cor);
    overflow: auto;
}

.members {
    height: 100vh;
    
}

.image {
    margin-left: 2%;
    text-align: center;
    cursor: pointer;
}

.image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #e60b0b;
    padding: 2px;
}

.member {
    width: 45%;
    margin-left: 15%;
    background: var(--terceira-cor);
    height: 95vh;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 8px;
    border: 2px solid var(--primeira-cor);
    padding: 2px;
    
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(221, 218, 218);
    height: 60px;
    padding-top: 5px;
}

.profile img,
h6,
span {
    cursor: pointer;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0 !important;
}

.profile h6 {
    font-size: 13px;
    margin-left: 1px !important;
}

.profile span {
    margin-left: 50% !important;
    font-size: 30px !important;
    margin-bottom: 15px !important;
}

.photos img {
    width: 100%;
    height: 400px;
}

.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    padding-top: 5px;
}

.share i {
    font-size: 15px;
    padding: 10px;
    color: var(--segunda-cor);
 }

.like {
    width: 70%;
    margin-left: 5%;
    margin-top: 5px;   
}

.like img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    border: 1px solid rgb(221, 218, 218);
    margin-right: 5px;
}

.member span {
    font-size: 10px;
    color: #777475;
}

.my-info {
    width: 23%;
    height: 80vh;
    position: fixed;
    z-index: 2;
    margin-left: 62%;
    margin-top: 0;
}

.right {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.info img {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid rgb(29, 32, 194);
    border-radius: 50%;
    float: left;
    cursor: pointer;
}
.name {
    width: 100px;
}
.name h5 {
    margin-top: 3%;
    color: #222121;
    cursor: pointer;
}

.name span {
    color: #3f3d3d;
    font-size: 10px;
}

.switch {
    margin: 5% 0px 0 25%;
    color: rgb(29, 32, 194);
}

.switch h4 {
    font-size: 12px;
    cursor: pointer;
}

.sugg {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.sugg h4 {
    font-weight: 600;
    color: #888586;
}


footer {
    background: var(--primeira-cor);
    color: var(--terceira-cor);
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

